<alert-message [mensagem]="mensagem" [isBusinessError]="isBusinessError"
   [isBusinessError]="isBusinessError"></alert-message>
<p-panel header="Produto">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="p-fluid grid p-4">
      <div class="field col-12 md:col-4 w-20">
        <div class="p-float-label">
          <input
            id="nome"
            name="nome"
            type="text"
            required="true"
            pInputText
            [ngClass]="form.get('nome').touched && form.get('nome').invalid ? 'ng-dirty ng-invalid mr-2' : ''"
            formControlName="nome"/>
          <label for="nome">Nome</label>
        </div>
        <small
          *ngIf="form.get('nome').touched && form.get('nome').invalid"
          id="sobrenome-help"
          class="p-error">O nome é obrigatório.</small>
      </div>
      <div class="field col-12 md:col-4 w-40">
        <div class="p-float-label">
          <input
            id="descricao"
            name="descricao"
            type="text"
            required="true"
            pInputText
            [ngClass]="form.get('descricao').touched && form.get('descricao').invalid ? 'ng-dirty ng-invalid mr-2': ''"
            formControlName="descricao"
          />
          <label for="nome">Descrição</label>
        </div>
        <small
          *ngIf="form.get('descricao').touched && form.get('descricao').invalid"
          id="sobrenome-help"
          class="p-error">A descrição é obrigatória.</small
        >
      </div>
      <div class="field col-12 md:col-4 w-40">
        <div class="p-float-label">
          <input
            id="imageUrl"
            name="imageUrl"
            type="text"
            required="true"
            pInputText
            [ngClass]="form.get('imageUrl').touched && form.get('imageUrl').invalid ? 'ng-dirty ng-invalid mr-2' : ''"
            formControlName="imageUrl"
          />
          <label for="imageUrl">URL da Imagem</label>
        </div>
        <small
          *ngIf="form.get('imageUrl').touched && form.get('imageUrl').invalid"
          id="sobrenome-help"
          class="p-error">A URL da Imagem é obrigatória.</small
        >
      </div>
      <div class="field col-12 md:col-4 mt-4">
        <div class="p-float-label">
          <p-inputNumber
            id="preco"
            placeholder="Preço"
            required="true"
            name="preco"
            mode="decimal"
            [showButtons]="true"
            inputId="minmax-buttons"
            [min]="1"
            [max]="100"
            [ngClass]="form.get('preco').touched && form.get('preco').invalid ? 'ng-dirty ng-invalid mr-2' : ''"
            formControlName="preco">
          </p-inputNumber>
          <label for="preco">Preço</label>
        </div>
        <small
          *ngIf="form.get('preco').touched && form.get('preco').invalid"
          id="quantidade-help"
          class="p-error">O preço é obrigatório.</small
        >
      </div>
      <div class="field col-12 md:col-4 w-100">
        <div class="form-group">
          <p-image
            name="image"
            src="{{ produto?.imageUrl }}"
            height="450px">
          </p-image>
        </div>
      </div>
      <p-button type="submit" [disabled]="form.invalid">Cadastrar</p-button>
    </div>
  </form>
</p-panel>
