<p-dialog header="Aviso" [(visible)]="mensagem" [style]="{width: '30vw'}">
    <p>{{mensagem}}</p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="mensagem=''" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
  
<div *ngIf="error" class="alert" [ngClass]="{'alert-danger': isUnexpectedError(), 'alert-warning': isBusinessError()}">
    <h1 *ngIf="isUnexpectedError()">Um Erro aconteceu</h1>
    <p>{{isUnexpectedError() ? "Verifique com o administrador, pois a API pode estar fora." + error.message : error.error.message}}</p>
  </div>
<p-panel header="Filtro">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div class="p-fluid grid p-4">
            <div class="field col-12 md:col-4">
                <div class="p-float-label">
                    <input id="nome"
                        name="nome"
                        type="text"
                        pInputText
                        formControlName="nome">
                    <label for="nome">Nome</label>              
                </div>
            </div>
            <div class="field col-12 md:col-4">  
                <div class="p-float-label">
                    <input id="descricao"
                        name="descricao"
                        type="text" 
                        pInputText
                        formControlName="descricao">
                    <label for="descricao">Descrição</label>
                </div>
            </div>       
        </div>
        <p-button type="submit">Consultar</p-button>
        <p-button type="button" styleClass="p-button-secondary" (click)="form.reset()" [style]="{'margin-left': '20px'}">Limpar</p-button>
    </form>
</p-panel>

<div class="card">
<p-table #dt [value]="produtos" [rows]="rows" [paginator]="true"
        styleClass="p-datatable-striped"
        [globalFilterFields]="['nome','descricao']" responsiveLayout="scroll"
        [rowHover]="true" dataKey="id"
        [totalRecords]="total"
        (onPage)="onPage($event)" [lazy]="true" [loading]="loading" [loadingIcon]="'pi pi-spinner'"
        (onSort)="onSort($event)"        
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Usuários</h5>
                <span class="p-input-icon-right"></span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="nome">Nome <p-sortIcon field="nome"></p-sortIcon></th>
                <th pSortableColumn="descricao">Descrição <p-sortIcon field="descricao"></p-sortIcon></th>
                <th>Ação</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-produto>
            <tr>
                <td>{{produto.id}}</td>
                <td>{{produto.nome}}</td>
                <td>{{produto.descricao}}</td>
                <td>
                    <div class="button-container">
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                            (click)="deleteProduto(produto.id)"></button>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-secondary"
                            (click)="editProduto(produto.id)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                No total há {{ total }} usuários.
            </div>
        </ng-template>
    </p-table>
</div>
  <div *ngIf="produtos.length == 0 && !loading" class="alert alert-warning">Nenhum usuário encontrado.</div>
  <div class="d-flex justify-content-center" *ngIf="loading">
    <div class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
