<h3>Testando</h3>
<div class="container-sm w-100 p-3">
    <p-panel header="Produto">
        <form (ngSubmit)="onSubmit()" #f="ngForm">
            <div class="p-fluid grid p-4">
                <div class="field col-12 md:col-4">
                    <div class="p-float-label">
                        <input id="nome"
                            name="nome"
                            type="text"
                            required="true" 
                            pInputText                    
                            [(ngModel)]="produto.nome"
                            [ngClass]="nome.touched && nome.invalid ? 'ng-dirty ng-invalid mr-2' : ''"
                            #nome="ngModel">
                        <label for="nome">Nome</label>              
                    </div>
                    <small *ngIf="nome.touched && nome.invalid" id="sobrenome-help" class="p-error">O nome é obrigatório.</small>
                </div>
            </div>
        </form>
    </p-panel>
</div>
